@import "../../stylesCommon/StyleAuth";

.field {
  @media screen and (min-width: 750px) and (max-width: 850px) {
    padding: 0 15px 0 15px;
  }

  .input {
    @include inputsAuth();
  }
  .input1 {
    background: url('https://static4.depositphotos.com/1001003/335/i/600/depositphotos_3350007-stock-photo-3d-star.jpg') no-repeat scroll 1px 1px;
    background-size: 10px;
    padding-left:15px;
    @include inputsAuth();
  }
}